<h1>New Booking</h1>
<%= render :partial => "shared/flight_display", :locals => { :flight => @flight } %>
<%= form_with model: @booking do |form| %>
    <%= form.hidden_field :flight_id, value: @flight.id %>
    <% @passenger_count.times do |time| %>
        <%= form.fields_for :passengers do |passengers_form| %>
            <div class="form_group">
                <%= passengers_form.label :name %>
                <%= passengers_form.text_field :name %>
                <%= passengers_form.label :email %>
                <%= passengers_form.text_field :email %>
            </div>
        <% end %>
    <% end %>
    <%= form.submit "Book Flight" %>
<% end %>
